{% extends 'qogether/base.html' %}
{% block content %}
{% load static %}
<link rel='stylesheet' href="{% static 'qogether/css/q_list.css' %}">

<h1 id='q_list_title'>Questions List - <a href="{% url 'index' %}">Home</a></h1>

<div class="q_list_list">
{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
    <li><a href="{% url 'a_list' question.id %}">{{ question.question_text }}</a></li>
  {% endfor %}
  </ul>
{% else %}
 <p>No questions are available.</p>
{% endif %}
</div>
{% endblock %}
